{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>三会村-历史文化</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png' %} in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Webfonts -->
    <!--<link href='http://fonts.useso.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.useso.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>-->

    <!-- Animate.css' %} -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

</head>
<body>
<header id="fh5co-header" role="banner">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <!--<div class="navbar-header">-->
                    <!--&lt;!&ndash; Mobile Toggle Menu Button &ndash;&gt;-->
                    <!--<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>-->
                    <!--<a class="navbar-brand" href="{% url 'index' %}">Clean</a>-->
                    <!--</div>-->
                    <div id="fh5co-navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'index' %}"><span>首页 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'natural' %}"><span>自然环境 <span class="border"></span></span></a></li>
                            <li class="active"><a href="{% url 'history' %}"><span>历史文化 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'tour' %}"><span>康养旅游 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'farming' %}"><span>现代农业 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'hr_info' %}"><span>人力资源 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'health' %}"><span>医疗卫生 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'live_info' %}"><span>脱贫奔康 <span class="border"></span></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div id="fh5co-main">
    <div class="fh5co-intro text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <span class="intro-lead">历史文化</span>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-portfolio">
        <div class="fh5co-portfolio-item" style="background: #fff;padding:20px;">
            <div style="width:100%">
                <div style="margin-bottom:1.5em">
                    <span class="tag"></span><span style="color: #000;font-size: 18px;">三会村史</span>
                </div>
                <div class="" style="width:100%">
                    <p >
                        1949年前，三会村因每年都要举办盛大的年令会、文昌会、牛王会，故以“三会”而称，名为三会保。
                    </p>
                    <p >
                        1951年至1952年，三会保成立农协会（现称村民委员会），将三会保更名为五龙乡第八村，管辖范围缩小。
                    </p>
                    <p >
                        1955年，在全国农业合作化的影响下，第八村成立农业生产合作社，第八村农协会更名为农业合作社。
                    </p>
                    <p >
                        1957年，全国整风运动波及第八村，1958年五龙乡成立五龙人民公社，第八村更名为三会大队，农协会更名为大队委员会。下设沈家塝（现三会村一组），邓家嘴（现三会村二组），仲家梁（现三会村三组），杨家嘴（现三会村四组），张家嘴（现三会村五组），柯家沟（现三会村三六组），耿家山（现三会村三七组）7个生产队。
                    </p>
                    <p >
                        1983年，改革开放后，三会大队更名为三会村，大队委员会更名为村民委员会，下设7个村民小组，一直延续至今。
                    </p>
                </div>
            </div>
        </div>
        <div class="fh5co-portfolio-item" style="background: #fff;padding:20px;">
            <div style="width:100%">
                <div style="margin-bottom:1.5em">
                    <span class="tag"></span><span style="color: #000;font-size: 18px;">文化习俗</span>
                </div>
                <div class="animate-box" style="width: 80%;margin: 0 auto">
                    <img src="{% static 'images/culture1.png' %}" alt="" style="width:100%;">
                </div>
                <div class="" style="width:100%;margin-top:2em;">
                    <h4>文昌会</h4>
                    <p >
                        文昌会所遵循的文昌文化，由上古时期的文昌星宿崇拜开始，由道教将其与蜀地梓潼神崇拜相结合，推出了文昌帝君。经过唐宋以来历代帝王对文昌帝君的追封，儒释道合力的尊奉，文人士大夫的推崇，最终形成了内涵丰富的文昌文化。
                    </p>
                    <h4>年例会（年猪会）</h4>
                    <p >
                        1.特色祭祀活动。“年猪节”祭祀活动全部参照古人杀年猪的传统方式进行，所有祭祀人员将着对襟装，活动过程分为祭屠工祖师、肥猪出槽、宰杀祭祀、刨汤祭祀等十多道程序，所有程序都将在悠扬的祭文演唱中进行。
                    </p>
                    <p >
                        2.特色产品展示。“年猪节”上，除了传统的文艺表演外，还有荣昌特色的金钱板、缠丝拳等民俗文化表演，以及观看夏布、折扇等非物质文化展示。
                    </p>
                    <p >
                        3.特色游乐活动。在保留了传统特色项目，如“宰年猪”“品刨汤”的基础上，进行创新，将“嘉年华”的形式引入年猪节中，增设了“猪之嘉年华”游园活动，这也在年猪节中开创了先河。
                    </p>
                    <h4>牛王会</h4>
                    <p >
                        牛王会是汉族民间节日。时为农历六月初八。据传该日是牛王诞辰日。牛王会暨祭奠活动距今已延续1000多年的历史，其香火不断，规模宏大，神秘，隆重，庄严。一年一度的元宵佳节乃是牛王菩萨的圣诞之日，牛王菩萨是百姓求儿祈女保平安的保护神，所到之处风调雨顺，国泰民安，求子必应，年丰人安。
                    </p>
                </div>
            </div>
        </div>
        <!--<div class="fh5co-portfolio-item fh5co-img-right">-->
        <!--<div class="fh5co-portfolio-figure animate-box" style="background: #fff">-->
        <!--<div id="chart_2" style="width:100%;height:100%;">-->

        <!--</div>-->
        <!--</div>-->
        <!--<div class="fh5co-portfolio-description">-->
        <!--&lt;!&ndash;<h2>农产品亩产</h2>&ndash;&gt;-->
        <!--<p>全村有耕地2346亩（其中自留地356亩），林地5246亩（其中退耕还林265亩，国有林146.6亩，集体123.3亩），建设用地552亩（其中聚居点97亩），水面273亩，道路占地110亩，溪沟荒滩125亩，公益设施48亩。-->
        <!--</p>-->
        <!--&lt;!&ndash;<p><a href="#" class="btn btn-primary">Read the casetudy</a></p>&ndash;&gt;-->
        <!--</div>-->
        <!--</div>-->
        <!-- jQuery -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- jQuery Easing -->
        <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <!-- Bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- Waypoints -->
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <!-- Main JS -->
        <script src="{% static 'js/main.js' %}"></script>
        <!-- Echarts JS-->
        <script src="{% static 'js/echarts.common.min.js' %}"></script>

        <script type="text/javascript">

        </script>
</body>
</html>
