{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>三会村-首页</title>

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/ionicons.min.css' %}">
<link href="https://fonts.googleapis.com/css?family=Istok+Web:400,400i,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/hover.css' %}">

</head>
<body>
<!-- preloader -->
<div id="preloader"></div>
<!-- end of preloader -->

<div class="body-content" style="display:none;">
	<div id="home-nav" style="height:80px;background-color: #fff;">
        <div id="fh5co-navbar" class="navbar-collapse collapse" >
            <ul class="nav navbar-nav navbar-right" style="margin-right: 40px;">
                <li class="active"><a href="{% url 'index' %}"><span>首页 <span class="border"></span></span></a></li>
                <li><a href="{% url 'natural' %}"><span>自然环境 <span class="border"></span></span></a></li>
                <li><a href="{% url 'history' %}"><span>历史文化 <span class="border"></span></span></a></li>
                <li><a href="{% url 'tour' %}"><span>康养旅游 <span class="border"></span></span></a></li>
                <li><a href="{% url 'farming' %}"><span>现代农业 <span class="border"></span></span></a></li>
                <li><a href="{% url 'hr_info' %}"><span>人力资源 <span class="border"></span></span></a></li>
                <li><a href="{% url 'health' %}"><span>医疗卫生 <span class="border"></span></span></a></li>
                <li><a href="{% url 'live_info' %}"><span>脱贫奔康 <span class="border"></span></span></a></li>
            </ul>
        </div>
	</div>

    <div class="over-flow" style="position: relative">
        <section id="banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>欢迎来到三会村</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <p>已录入500+人口数据</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="sections" style="position: absolute;left: 50%;bottom: -88px;margin-left:-585px;width: 1170px;">
            <div style="overflow: hidden;">
                <div class="section hvr-underline-from-center"  style="margin-right:50px;margin-left:25px;" onclick="goNE()">
                    <div style="height: 90px;width:100%;margin: 20px auto;">
                        <div style="margin-left: 76px;">
                            <img src="{% static 'images/1.png' %}" alt="">
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size: 18px;color: #242d44">自然环境</span>
                    </div>
                </div>
                <div class="section hvr-underline-from-center" style="margin-right:50px;" onclick="goHT()">
                    <div style="height: 90px;width:100%;margin: 20px 0;">
                        <div style="margin-left: 76px;">
                            <img src="{% static 'images/2.png' %}" alt="">
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size: 18px;color: #242d44">历史文化</span>
                    </div>
                </div>
                <div class="section hvr-underline-from-center" style="margin-right:50px;" onclick="goTR()">
                    <div style="height: 90px;width:100%;margin: 20px 0;">
                        <div style="margin-left: 76px;">
                            <img src="{% static 'images/3.png' %}" alt="">
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size: 18px;color: #242d44">康养旅游</span>
                    </div>
                </div>
                <div class="section hvr-underline-from-center" onclick="goFM()">
                    <div style="height: 90px;width:100%;margin: 20px 0;">
                        <div style="margin-left: 76px;">
                            <img src="{% static 'images/4.png' %}" alt="">
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <span style="font-size: 18px;color: #242d44">现代农业</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<section id="five">
			<div class="container">
				<div class="four-top">
					<div class="section-heading">
						<div class="title">
							<div class="row">
								<div class="col-md-12">
									<p style="color: #333;font-size: 28px;">三会数据统计</p>
								</div>
							</div>
						</div>

						<div class="subtitle">
							<div class="row">                                       
								<div class="col-md-12">
									<p style="font-size:16px;">
                                        对人员、医疗等数据进行全方位统计分析
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container" style="margin-bottom: 80px;padding:0">
				<div style="overflow: hidden;">
                    <div class="hvr-underline-from-center" style="margin: 0 60px 0 25px">
						<div class="four-features" style="cursor: pointer;" onclick="goHR()">
							<div class="features-img">
								<img src="{% static 'images/home5.png' %}" alt="Responsive image" class="img-responsive">
							</div>
							<div class="features-content" style="line-height: 13px;padding-left:20px;">
								<p style="padding-top: 30px;font-size: 18px;color:#333;">人力资源</p>
								<p style="padding: 15px 0 30px 0;font-size: 14px;color:#666;">
                                    三会家庭基本情况
								</p>
							</div>
						</div>
					</div>
					<div class="hvr-underline-from-center" style="margin-right: 60px">
						<div class="four-features" style="cursor: pointer;" onclick="goPB()">
							<img src="{% static 'images/home7.png' %}" alt="Responsive image" class="img-responsive">
							<div class="features-content" style="line-height: 13px;padding-left:20px;">
								<p style="padding-top: 30px;font-size: 18px;color:#333;">医疗卫生</p>
								<p style="padding: 15px 0 30px 0;font-size: 14px;color:#666;">
                                    三会医疗数据统计
								</p>
							</div>
						</div>
					</div>
					<div class="hvr-underline-from-center" style="margin-right:0">
						<div class="four-features" style="cursor: pointer;" onclick="goPL()">
							<img src="{% static 'images/home4.png' %}"  alt="Responsive image" class="img-responsive">
							<div class="features-content" style="line-height: 13px;padding-left:20px;">
								<p style="padding-top: 30px;font-size: 18px;color:#333;">脱贫奔康</p>
								<p style="padding: 15px 0 30px 0;font-size: 14px;color:#666;">
                                    三会脱贫奔康建设
                                </p>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>

	<section id="footer" style="width: 1117px;margin: 0 auto;overflow: hidden">
		<div class="pull-left" >
            <img src="{% static 'images/logo.jpg' %}" style="width:250px;" alt="">
        </div>
        <div class="pull-left" style="padding: 20px 200px 20px 160px">
            <p style="font-size:16px;color:#333;margin-bottom:10px;font-weight: 600;">友情链接</p>
            <p>
                <a style="font-size:12px;color:#999;text-decoration: underline" href="http://www.cangxi.ccoo.cn/">苍溪在线</a>
            </p>
            <p>
                <a style="font-size:12px;color:#999;text-decoration: underline" href="http://www.bidcenter.com.cn/newssearchyz-32326777.html">苍溪县扶贫开发和移民工作局</a>
            </p>
            <p>
                <a style="font-size:12px;color:#999;text-decoration: underline" href="http://www.cncx.gov.cn/det/gkxx.html?id=20150708164693">苍溪县五龙镇人民政府</a>
            </p>
        </div>
        <div class="pull-left" style="padding: 20px 20px;">
            <p style="font-size:16px;color:#333;margin-bottom:10px;font-weight: 600;">微信平台</p>
            <img src="{% static 'images/erweima1.jpg' %}" style="width:120px;" alt="">
            <img src="{% static 'images/erweima2.jpg' %}" style="width:120px;" alt="">
        </div>
	</section>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
    var goNE = function () {
        window.location.href = "{% url 'natural' %}";
    }
    var goHT = function () {
        window.location.href = "{% url 'history' %}";
    }
    var goTR = function () {
        window.location.href = "{% url 'tour' %}";
    }
    var goFM =function () {
        window.location.href = "{% url 'farming' %}"
    }
    var goPB = function () {
        window.location.href = "{% url 'health' %}";
	};
	var goPL = function () {
        window.location.href = "{% url 'live_info' %}";
	};
    var goHR = function () {
        window.location.href = "{% url 'hr_info' %}";
    };
</script>
</body>
</html>