{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>三会村-产业发展</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png' %} in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Webfonts -->
    <!--<link href='http://fonts.useso.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.useso.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>-->

    <!-- Animate.css' %} -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

</head>
<body>
<header id="fh5co-header" role="banner">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <!--<div class="navbar-header">-->
                    <!--&lt;!&ndash; Mobile Toggle Menu Button &ndash;&gt;-->
                    <!--<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>-->
                    <!--<a class="navbar-brand" href="index.html">Clean</a>-->
                    <!--</div>-->
                    <div id="fh5co-navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="index.html"><span>首页 <span class="border"></span></span></a></li>
                            <li><a href="base_info.html"><span>基础设施 <span class="border"></span></span></a></li>
                            <li class="active"><a href="industry_info.html"><span>产业发展 <span class="border"></span></span></a></li>
                            <li><a href="hr_info.html"><span>人力资源 <span class="border"></span></span></a></li>
                            <li><a href="live_info.html"><span>扶贫民生 <span class="border"></span></span></a></li>
                            <li><a href="party_info.html"><span>基础组织 <span class="border"></span></span></a></li>
                            <li><a href="party_info.html"><span>地理环境 <span class="border"></span></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div id="fh5co-main">
    <div class="fh5co-intro text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="intro-lead">产业发展</h1>
                    <p class="">包括旅游数据和农业数据</p>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-team">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row">
                        <!--<h2 class="section-lead text-center">Leadership</h2>-->
                        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
                            <figure>
                                <img src="{% static 'images/user.jpg' %}" alt="" class="img-responsive">
                            </figure>
                            <h3>龙吟谷</h3>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
                            <figure>
                                <img src="{% static 'images/user_2.jpg' %}" alt="" class="img-responsive">
                            </figure>
                            <h3>民宿</h3>
                        </div>
                        <div class="clearfix visible-sm-block visible-xs-block"></div>
                        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
                            <figure>
                                <img src="{% static 'images/user_3.jpg' %}" alt="" class="img-responsive">
                            </figure>
                            <h3>树尖上的餐厅</h3>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">
                            <figure>
                                <img src="{% static 'images/user.jpg' %}" alt="" class="img-responsive">
                            </figure>
                            <h3>培训基地</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-portfolio">
        <div class="fh5co-portfolio-item">
            <div class="fh5co-portfolio-figure animate-box" style="background: #fff">
                <div id="chart_1" style="width:100%;height:100%;padding-top:30px;padding-left:30px;">

                </div>
            </div>
            <div class="fh5co-portfolio-description">
                <h2>农产品面积</h2>
                <p>农产品面积农产品面积农产品面积农产品面积农产品面积农产品面积农产品面积农产品面积农产品面积农产品面积</p>
                <!--<p><a href="#" class="btn btn-primary">Read the casetudy</a></p>-->
            </div>
        </div>
        <div class="fh5co-portfolio-item fh5co-img-right">
            <div class="fh5co-portfolio-figure animate-box" style="background: #fff">
                <div id="chart_2" style="width:100%;height:100%;">

                </div>
            </div>
            <div class="fh5co-portfolio-description">
                <h2>农产品亩产</h2>
                <p>农产品亩产农产品亩产农产品亩产农产品亩产农产品亩产农产品亩产农产品亩产农产品亩产农产品亩产农产品亩产
                  </p>
                <!--<p><a href="#" class="btn btn-primary">Read the casetudy</a></p>-->
            </div>
        </div>
        <div class="fh5co-portfolio-item ">
            <div class="fh5co-portfolio-figure animate-box" style="background-color: #fff">
                <div id="chart_3" style="width:100%;height:100%;">

                </div>
            </div>
            <div class="fh5co-portfolio-description">
                <h2>总收入</h2>
                <p>总收入总收入总收入总收入总收入总收入总收入总收入总收入总收入总收入农产品亩产农产品亩产农产品亩产
                </p>
                <!--<p><a href="#" class="btn btn-primary">Read the casetudy</a></p>-->
            </div>
        </div>
        <div class="fh5co-portfolio-item fh5co-img-right">
            <div class="fh5co-portfolio-figure animate-box" style="background-image: url({% static 'images/work_1.jpg' %});"></div>
            <div class="fh5co-portfolio-description">
                <h2>农特产</h2>
                <p>农特产农特产农特产农特产农特产农特产农特产农特产农特产农特产农特产农特产农特产农特产农特产
                </p>
                <!--<p><a href="#" class="btn btn-primary">Read the casetudy</a></p>-->
            </div>
        </div>
        <!-- jQuery -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- jQuery Easing -->
        <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <!-- Bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- Waypoints -->
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <!-- Main JS -->
        <script src="{% static 'js/main.js' %}"></script>
        <!-- Echarts JS-->
        <script src="{% static 'js/echarts.common.min.js' %}"></script>

        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例,农业数据柱状图
            var myChart1 = echarts.init(document.getElementById('chart_1'));

            var option1 = {
                title : {
                    text: '',
                },
                tooltip : {
                    trigger: 'axis'
                },
                legend: {
                    data:['种植面积（已流转土地）','种植面积（未流转土地）','种植面积（总面积）']
                },
                calculable : true,
                xAxis : [
                    {
                        type : 'category',
                        data : ['猕猴桃','罗汉果','黄金梨','雪莲果','桃树']
                    }
                ],
                yAxis : [
                    {
                        type : 'value',
                        axisLabel: {
                            formatter: '{value} 亩'
                        }
                    }
                ],
                series : [
                    {
                        name:'种植面积（已流转土地）',
                        type:'bar',
                        data:[1200, 50, 200, 0,0],
                    },
                    {
                        name:'种植面积（未流转土地）',
                        type:'bar',
                        data:[25, 100, 30, 200,20],
                    },
                    {
                        name:'种植面积（总面积）',
                        type:'bar',
                        data:[1225, 150, 230, 200,20],
                    }
                ]
            };
            var myChart2 = echarts.init(document.getElementById('chart_2'));

            var option2 = {
                title : {
                    text: '农产品亩产量',
                    subtext: '',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c}T"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: ['猕猴桃','罗汉果','黄金梨','雪莲果','桃树']
                },
                series : [
                    {
                        name: '亩产',
                        type: 'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {value:1, name:'猕猴桃'},
                            {value:1.8, name:'罗汉果'},
                            {value:1.8, name:'黄金梨'},
                            {value:1, name:'雪莲果'},
                            {value:0.7, name:'桃树'}
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            var myChart3 = echarts.init(document.getElementById('chart_3'));

            var option3 = {
                title : {
                    text: '农产品总收入',
                    subtext: '',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c}(万元)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'right',
                    data: ['猕猴桃','罗汉果','黄金梨','雪莲果','桃树']
                },
                series : [
                    {
                        name: '总收入',
                        type: 'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:[
                            {value:1680, name:'猕猴桃'},
                            {value:600, name:'罗汉果'},
                            {value:184, name:'黄金梨'},
                            {value:40, name:'雪莲果'},
                            {value:5.6, name:'桃树'}
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart1.setOption(option1);
            myChart2.setOption(option2);
            myChart3.setOption(option3);
        </script>
</body>
</html>
