{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

  <!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png' %}' %}' %}' %}' %}' %} in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<!-- Google Webfonts -->
	<!--<link href='http://fonts.useso.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>-->
	<!--<link href='http://fonts.useso.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>-->
	
	<!-- Animate.css' %}' %}' %}' %}' %}' %} -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
	<!-- Theme Style -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- Modernizr JS -->
	<script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

	</head>
	<body>
		
	<!--<header id="fh5co-header" role="banner">-->
		<!--<nav class="navbar navbar-default" role="navigation">-->
			<!--<div class="container">-->
				<!--<div class="row">-->
					<!--<div class="col-md-10 col-md-offset-1">-->
						<!--<div class="navbar-header"> -->
						<!--&lt;!&ndash; Mobile Toggle Menu Button &ndash;&gt;-->
						<!--<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>-->
						<!--<a class="navbar-brand" href="index.html">Clean</a>-->
						<!--</div>-->
						<!--<div id="fh5co-navbar" class="navbar-collapse collapse">-->
							<!--<ul class="nav navbar-nav navbar-right">-->
								<!--<li class="active"><a href="index.html"><span>Home <span class="border"></span></span></a></li>-->
								<!--<li><a href="right-sidebar.html"><span>Right Sidebar <span class="border"></span></span></a></li>-->
								<!--<li><a href="left-sidebar.html"><span>Left Sidebar <span class="border"></span></span></a></li>-->
							<!--</ul>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</nav>-->
	<!--</header>-->
	<!-- END .header -->
	    
	<div id="fh5co-main">
		<div class="fh5co-intro text-center">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h1 class="intro-lead">基础设施</h1>
						<p class="">包括基建和配套设施</p>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-portfolio">
			<div class="fh5co-portfolio-item ">
				<div class="fh5co-portfolio-figure animate-box" style="background-image: url({% static 'images/work_1.jpg' %});"></div>
				<div class="fh5co-portfolio-description">
					<h2>基建数据</h2>
					<p>水、电、天然气、宽带、排水系统、广播电视、水塘建设数据, 水、电、天然气、宽带、排水系统、广播电视、水塘建设数据,
						水、电、天然气、宽带、排水系统、广播电视、水塘建设数据.水、电、天然气、宽带、排水系统、广播电视、水塘建设数据
						水、电、天然气、宽带、排水系统、广播电视、水塘建设数据</p>
					<!--<p><a href="#" class="btn btn-primary">Read the casetudy</a></p>-->
				</div>
			</div>
			<div class="fh5co-portfolio-item fh5co-img-right">
				<div class="fh5co-portfolio-figure animate-box" style="background-color: #fff">
					<div id="chart_1" style="width:100%;height:100%;">

					</div>
				</div>
				<div class="fh5co-portfolio-description">
					<h2>配套设施</h2>
					<p>水、电、天然气、宽带、排水系统、广播电视、水塘建设数据, 水、电、天然气、宽带、排水系统、广播电视、水塘建设数据,
						水、电、天然气、宽带、排水系统、广播电视、水塘建设数据.水、电、天然气、宽带、排水系统、广播电视、水塘建设数据
						水、电、天然气、宽带、排水系统、广播电视、水塘建设数据</p>
					<!--<p><a href="#" class="btn btn-primary">Read the casetudy</a></p>-->
				</div>
			</div>

		<!--<div id="fh5co-team">-->
			<!--<div class="container">-->
				<!--<div class="row">-->
					<!--<div class="col-md-10 col-md-offset-1">-->
						<!--<div class="row">-->
							<!--<h2 class="section-lead text-center">Leadership</h2>-->
							<!--<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">-->
								<!--<figure>-->
								<!--<img src="{% static 'images/user.jpg' %}" alt="" class="img-responsive">-->
								<!--</figure>-->
								<!--<h3>Will Barrow</h3>-->
								<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--<ul class="fh5co-social">-->
									<!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
									<!--<li><a href="#"><i class="icon-github"></i></a></li>-->
								<!--</ul> 	-->
							<!--</div>-->
							<!--<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">-->
								<!--<figure>-->
								<!--<img src="{% static 'images/user_2.jpg' %}" alt="" class="img-responsive">-->
								<!--</figure>-->
								<!--<h3>Max Conversion</h3>-->
								<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--<ul class="fh5co-social">-->
									<!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
									<!--<li><a href="#"><i class="icon-github"></i></a></li>-->
								<!--</ul> 	-->
							<!--</div>-->
							<!--<div class="clearfix visible-sm-block visible-xs-block"></div>-->
							<!--<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">-->
								<!--<figure>-->
								<!--<img src="{% static 'images/user_3.jpg' %}" alt="" class="img-responsive">-->
								<!--</figure>-->
								<!--<h3>Hanson Deck</h3>-->
								<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--<ul class="fh5co-social">-->
									<!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
									<!--<li><a href="#"><i class="icon-github"></i></a></li>-->
								<!--</ul> 	-->
							<!--</div>-->
							<!--<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-staff to-animate">-->
								<!--<figure>-->
								<!--<img src="{% static 'images/user.jpg' %}" alt="" class="img-responsive">-->
								<!--</figure>-->
								<!--<h3>Sue Shei</h3>-->
								<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--<ul class="fh5co-social">-->
									<!--<li><a href="#"><i class="icon-twitter"></i></a></li>-->
									<!--<li><a href="#"><i class="icon-github"></i></a></li>-->
								<!--</ul> 	-->
							<!--</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

		<!--<div id="fh5co-services">-->
			<!--<div class="container">-->
				<!--<div class="row">-->
					<!--<div class="col-md-10 col-md-offset-1">-->
						<!--<div class="row">-->
							<!--<h2 class="section-lead text-center">Features</h2>-->
							<!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">-->
								<!--<div class="fh5co-icon to-animate"><i class="icon-present"></i></div>-->
								<!--<div class="fh5co-desc">-->
									<!--<h3>100% Free</h3>-->
									<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--</div>	-->
							<!--</div>-->
							<!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">-->
								<!--<div class="fh5co-icon to-animate"><i class="icon-eye"></i></div>-->
								<!--<div class="fh5co-desc">-->
									<!--<h3>Retina Ready</h3>-->
									<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="clearfix visible-sm-block visible-xs-block"></div>-->
							<!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">-->
								<!--<div class="fh5co-icon to-animate"><i class="icon-crop"></i></div>-->
								<!--<div class="fh5co-desc">-->
									<!--<h3>Fully Responsive</h3>-->
									<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--</div>-->
							<!--</div>-->

							<!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">-->
								<!--<div class="fh5co-icon to-animate"><i class="icon-speedometer"></i></div>-->
								<!--<div class="fh5co-desc">-->
									<!--<h3>Lightweight</h3>-->
									<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--</div>	-->
							<!--</div>-->
							<!--<div class="clearfix visible-sm-block visible-xs-block"></div>-->
							<!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">-->
								<!--<div class="fh5co-icon to-animate"><i class="icon-heart"></i></div>-->
								<!--<div class="fh5co-desc">-->
									<!--<h3>Made with Love</h3>-->
									<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="col-md-4 col-sm-6 col-xs-6 col-xxs-12 fh5co-service">-->
								<!--<div class="fh5co-icon to-animate"><i class="icon-umbrella"></i></div>-->
								<!--<div class="fh5co-desc">-->
									<!--<h3>Eco Friendly</h3>-->
									<!--<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>-->
								<!--</div>-->
							<!--</div>-->
							<!--<div class="clearfix visible-sm-block visible-xs-block"></div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->

	<!--</div>-->

	<!--<footer id="fh5co-footer">-->
		<!--<div class="container">-->
			<!--<div class="row">-->
				<!--<div class="col-md-10 col-md-offset-1 text-center">-->
					<!--<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</footer>-->


	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Main JS -->
	<script src="{% static 'js/main.js' %}"></script>
	<!-- Echarts JS-->
	<script src="{% static 'js/echarts.common.min.js' %}"></script>

	<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('chart_1'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '配套设施'
            },
            tooltip: {},
            legend: {
                data:['数量']
            },
            xAxis: {
                data: ["便利店","餐厅","停车位","公告卫生间","户外拓展设施","共享单车"]
            },
            yAxis: {},
            series: [{
                name: '数量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
	</script>
	</body>
</html>
