{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>三会村-脱贫奔康</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png' %} in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Webfonts -->
    <!--<link href='http://fonts.useso.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.useso.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>-->

    <!-- Animate.css' %} -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

</head>
<body>
<header id="fh5co-header" role="banner">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <!--<div class="navbar-header">-->
                    <!--&lt;!&ndash; Mobile Toggle Menu Button &ndash;&gt;-->
                    <!--<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>-->
                    <!--<a class="navbar-brand" href="{% url 'index' %}">Clean</a>-->
                    <!--</div>-->
                    <div id="fh5co-navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'index' %}"><span>首页 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'natural' %}"><span>自然环境 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'history' %}"><span>历史文化 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'tour' %}"><span>康养旅游 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'farming' %}"><span>现代农业 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'hr_info' %}"><span>人力资源 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'health' %}"><span>医疗卫生 <span class="border"></span></span></a></li>
                            <li class="active"><a href="{% url 'live_info' %}"><span>脱贫奔康 <span class="border"></span></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div id="fh5co-main">
    <div class="fh5co-intro text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <span class="intro-lead">脱贫奔康</span>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-portfolio">
        <div class="fh5co-portfolio-item" style="background: #fff;padding:20px;">
            <div style="width:100%">
                <div style="margin-bottom:1.5em">
                    <span class="tag"></span><span style="color: #000;font-size: 18px;">致贫原因</span>
                </div>
                <div class="" style="width:100%">
                    <p >
                        截至2017年底，三会村现有建档立卡贫困户为62户231人，其中因病致贫123人，占比53.2%，老弱致贫75人，占比32.5%，因灾致贫33人，占比14.3%。
                    </p>
                </div>
                <div style="width:100%;height:400px;">
                    <div id="chart_1" style="width:100%;height:100%;">

                    </div>
                </div>
            </div>
        </div>
        <div class="fh5co-portfolio-item" style="background: #fff;padding:20px;">
            <div style="width:100%">
                <div style="margin-bottom:1.5em">
                    <span class="tag"></span><span style="color: #000;font-size: 18px;">贫困户收入</span>
                </div>
                <div class="" style="width:100%">
                    <p >
                        2014年贫困户人均年收入2430元，2015年贫困户人均年收入达到2670元，同比增长9.9%；2016年贫困户人均年收入达到2940元，同比增长10.1%；2017年贫困户人均年收入达到4130元，同比增长40.5%。
                    </p>
                </div>
                <div style="width:100%;height:400px;">
                    <div id="chart_2" style="width:70%;height:100%;margin: 0 auto">

                    </div>
                </div>
            </div>
        </div>
        <div class="fh5co-portfolio-item" style="background: #fff;padding:20px;">
            <div style="width:100%">
                <div style="margin-bottom:1.5em">
                    <span class="tag"></span><span style="color: #000;font-size: 18px;">特别帮扶</span>
                </div>
                <div class="" style="width:100%">
                    <h4>（一）2015－2017年入户道路</h4>
                    <p >
                        2015－2017年三会村入户道路共投资460万元，户均投入12500元，硬化道路21公里，入户率达到100%，全村360户、1260人全部受益（含贫困户62户，231人）。
                    </p>
                    <h4>（二）2015－2017年以购代捐</h4>
                    <p >
                        2015－2017年三会村共开展8次以购代捐，销售种类为三会土鸡蛋、三会雪莲果、三会大米、三会西瓜等特产，销售总额达到92万元，贫困户人均增收1098元，非贫困户人均增收1049元，受益人群合计227户，884人，占比70.2%，其中，贫困户47户，139人，占比60.2%，非贫困户180户，745人，占比72.4%。
                    </p>
                    <h4>（三）2015－2017年捐款捐物</h4>
                    <p >
                        2015－2017年三会村共开展461次捐款捐物，捐款种类有化肥、电视、被子、党群中心、帮扶款、慰问金、冷链车、衣服等，捐款资金总规模达382万元，贫困户人均受益3800元，非贫困户人均受益3204元，全村360户，1260人全部受益（含贫困户62户，231人）。
                    </p>
                    <h4>（四） 2015－2017年专合社收入分红</h4>
                    <p >
                        2015－2017年三会村专合社共分红资金2万元，贫困户人均分红350元、非贫困户人均分红141元，全村32户，112人受益，占比8.8%，其中贫困户6户，20人，占比8.7%，非贫困户26户，92人，占比8.9%。
                    </p>
                    <h4>（五）2015－2017财力总投入 </h4>
                    <p >
                        财力总投入约0.98亿元，贫困户户均及人均投入39.9万元、10.7万元，非贫困户户均及人均分红分别为23.9万元、7.2万元，全村360户，1260人全部受益（含贫困户62户，231人）。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- jQuery -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- jQuery Easing -->
<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Waypoints -->
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<!-- Main JS -->
<script src="{% static 'js/main.js' %}"></script>
<!-- Echarts JS-->
<script src="{% static 'js/echarts.common.min.js' %}"></script>
<script type="text/javascript">
    var myChart1 = echarts.init(document.getElementById('chart_1'));

    var option1 = {
        title : {
            text: '三会致贫原因统计图',
            subtext: '',
            x:'center'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c}人"
        },
        legend: {
            orient: 'horizontal',
            bottom: '0',
            data: ['因病致贫','老弱致贫','因灾致贫']
        },
        series : [
            {
                name: '人数',
                type: 'pie',
                radius : '55%',
                center: ['50%', '50%'],
                data:[
                    {value:123, name:'因病致贫'},
                    {value:75, name:'老弱致贫'},
                    {value:33, name:'因灾致贫'}
                ],
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };
    var myChart2 = echarts.init(document.getElementById('chart_2'));
    var option2 = {
        title : {
            text: '三会贫困户人均收入统计图',
            subtext: '',
            x:'center'
        },
        tooltip: {
            trigger: 'axis',
            formatter: "{a} <br/>{b} : {c}元"
        },
        xAxis: {
            type: 'category',
            data: ['2014年', '2015年', '2016年', '2017年']
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name: '人均年收入',
            data: [2430, 2670, 2940, 4130],
            type: 'line'
        }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart1.setOption(option1);
    myChart2.setOption(option2);
</script>
</html>
