{% load static %}

<!DOCTYPE HTML>
<html>
<head>
    <title>三会村-登录</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" media="all" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script>
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
</head>
<body>
<div class="message warning">
    <div class="inset">
        <div class="login-head">
            <h1>三会村欢迎您！</h1>
            <!--<div class="alert-close"> </div>-->
        </div>
        <form id="login_form" method="post" action="{% url 'login' %}">
            <li>
                <input name="username" type="text" class="text" value="用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名';}"><a  class="icon user"></a>
            </li>

            <div class="clear"> </div>
            <li>
                <input name="password" type="password" value="******" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '******';}"> <a  class="icon lock"></a>
            </li>
            {% for error in login_form.errors.values %}{{ error }}{% endfor %}
            {{ msg }}
            <div class="clear"> </div>
            <div class="submit">
                <input type="submit" id="jsLoginBtn" value="登录" >
                <!--<h4><a href="#">忘记密码 ?</a></h4>-->
                <div class="clear">  </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
<div class="clear"> </div>
<div style="display:none"></div>
</body>
</html>