{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>三会村-登录</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" media="all" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- -->
    <script>
//        var __links = document.querySelectorAll('a');
//        function __linkClick(e) { parent.window.postMessage(this.href, '*');} ;
//        for (var i = 0, l = __links.length; i < l; i++) {
//            if ( __links[i].getAttribute('data-t') == '_blank' ) { __links[i].addEventListener('click', __linkClick, false);
//            }}
    </script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script>
        $(document).ready(function(c) {
            $('#login_form').on('submit', function (e) {
                location.href = "{% url 'index' %}";
                e.preventDefault();
            })
    });
    </script>
</head>
<body>
<!-- contact-form -->
<div class="message warning">
    <div class="inset">
        <div class="login-head">
            <h1>登录</h1>
            <!--<div class="alert-close"> </div>-->
        </div>
        <form id="login_form">
            <li>
                <input type="text" class="text" value="用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '用户名';}"><a  class=" icon user"></a>
            </li>
            <div class="clear"> </div>
            <li>
                <input type="password" value="******" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '******';}"> <a  class="icon lock"></a>
            </li>
            <div class="clear"> </div>
            <div class="submit">
                <input type="submit" value="登录" >
                <!--<h4><a href="#">忘记密码 ?</a></h4>-->
                <div class="clear">  </div>
            </div>
        </form>
    </div>
</div>
<div class="clear"> </div>
<!--- footer --->
<!--<div class="footer">-->
    <!--<p>Copyright &copy; 2014.</p>-->
<!--</div>-->
<div style="display:none"></script></div>
</body>
</html>