{% load static %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>三会村-自然环境</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content=""/>
    <meta property="og:image" content=""/>
    <meta property="og:url" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Place favicon.ico and apple-touch-icon.png' %} in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Google Webfonts -->
    <!--<link href='http://fonts.useso.com/css?family=Roboto:400,300,100,500' rel='stylesheet' type='text/css'>-->
    <!--<link href='http://fonts.useso.com/css?family=Roboto+Slab:400,300,100,500' rel='stylesheet' type='text/css'>-->

    <!-- Animate.css' %} -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Simple Line Icons -->
    <link rel="stylesheet" href="{% static 'css/simple-line-icons.css' %}">
    <!-- Theme Style -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Modernizr JS -->
    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->

</head>
<body>
<header id="fh5co-header" role="banner">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-2">
                    <!--<div class="navbar-header">-->
                    <!--&lt;!&ndash; Mobile Toggle Menu Button &ndash;&gt;-->
                    <!--<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle visible-xs-block" data-toggle="collapse" data-target="#fh5co-navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>-->
                    <!--<a class="navbar-brand" href="{% url 'index' %}">Clean</a>-->
                    <!--</div>-->
                    <div id="fh5co-navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'index' %}"><span>首页 <span class="border"></span></span></a></li>
                            <li class="active"><a href="{% url 'natural' %}"><span>自然环境 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'history' %}"><span>历史文化 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'tour' %}"><span>康养旅游 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'farming' %}"><span>现代农业 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'hr_info' %}"><span>人力资源 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'health' %}"><span>医疗卫生 <span class="border"></span></span></a></li>
                            <li><a href="{% url 'live_info' %}"><span>脱贫奔康 <span class="border"></span></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div id="fh5co-main">
    <div class="fh5co-intro text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <span class="intro-lead">自然环境</span>
                </div>
            </div>
        </div>
    </div>
    <div id="fh5co-portfolio">
        <div class="fh5co-portfolio-item" style="background: #fff;padding:20px;">
            <div style="width:100%">
                <div style="margin-bottom:24px">
                    <span class="tag"></span><span style="color: #000;font-size: 18px;">地理环境</span>
                </div>
                <div class="" style="width:100%">
                    <p>
                        三会村位于苍溪县北部，幅员面积5.8平方公里，距五龙政府所在地4.5公里，距苍溪县城32公里，距阆中61公里，距广元78公里，距成都320公里，国道212线、兰海高速G75、兰渝高速穿境而过。东与大树村六组相邻，南与大树村一组接壤，西与永宁镇兰池村、平桥村相连，北与永宁镇铺子村、马虹村相连。
                    </p>
                    <p>
                        三会村最高海拔850米，最低海拔570米，平均海拔750米，属于典型的深丘地形地貌。整村山势由南向北呈带状分布，山顶较平坦，山顶区域分布着一、二、七组全部，三、四、五组大部分，人口约占全村总人数的70%左右。崖下区域分布着三、四、五组一小部，六组的全部，人口约占全村总人数的30%左右。
                    </p>
                    <p>
                        全村有耕地2346亩（其中自留地356亩），林地5246亩（其中退耕还林265亩，国有林146.6亩，集体123.3亩），建设用地552亩（其中聚居点97亩），水面273亩，道路占地110亩，溪沟荒滩125亩，公益设施48亩。
                    </p>
                </div>
                <div style="width:100%;height:400px;">
                    <div id="chart_2" style="width:100%;height:100%;">

                    </div>
                </div>
            </div>
        </div>
        <div class="fh5co-portfolio-item" style="background: #fff;padding:20px;">
            <div style="width:100%">
                <div style="margin-bottom:1.5em">
                    <span class="tag"></span><span style="color: #000;font-size: 18px;">气候条件</span>
                </div>
                <div class="" style="width:100%">
                    <p >
                        三会村整体属亚热带温润季风气候区，冬季多大风冷冻天气，夏季多暴雨天气，年平均日照为1219.8小时，年平均降水量897mm，阳光和雨量较充沛。年平均温15.6℃，最高温度35℃，极端最低温度－5.6℃，年平均温和降水量均较县城低。常年平均风速为1.3m/s，极大风速26.6m/s。
                    </p>
                </div>
                <div class="text-center" style="margin-bottom:1em">
                    <span style="font-size:18px;color:#000;">三会村生物资源一览表</span>
                </div>
                <div style="width: 100%;" >
                    <table style="width: 70%;margin:0 auto;">
                        <thead>
                            <th style="width:50px;">序号</th>
                            <th style="width:80px;">类别</th>
                            <th>代表性资源</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>粮食作物</td>
                            <td>玉米、小麦、水稻、红薯、油菜、高粱、土豆、黄豆、小豆等</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>经济作物</td>
                            <td>猕猴桃、罗汉果、雪莲果、蓝莓、板栗树、梨树、脆红李、柚子树、草莓、桃树、樱桃树、枇杷树、柿子、核桃、花生等</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>森林植被</td>
                            <td>松柏树、青冈树、白杨树、樟木树、椿芽树、火棘、映山红等</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>野生动物</td>
                            <td>金钱豹、锦鸡、麂子、猕猴、野猪、狍子、狐狸、白鹤、斑鸠、燕子、野兔、松鼠、牛蛙等</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>野生药材</td>
                            <td>灵芝、党参、川芎、白芨、薏仁等</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        <!--<div class="fh5co-portfolio-item fh5co-img-right">-->
            <!--<div class="fh5co-portfolio-figure animate-box" style="background: #fff">-->
                <!--<div id="chart_2" style="width:100%;height:100%;">-->

                <!--</div>-->
            <!--</div>-->
            <!--<div class="fh5co-portfolio-description">-->
                <!--&lt;!&ndash;<h2>农产品亩产</h2>&ndash;&gt;-->
                <!--<p>全村有耕地2346亩（其中自留地356亩），林地5246亩（其中退耕还林265亩，国有林146.6亩，集体123.3亩），建设用地552亩（其中聚居点97亩），水面273亩，道路占地110亩，溪沟荒滩125亩，公益设施48亩。-->
                <!--</p>-->
                <!--&lt;!&ndash;<p><a href="#" class="btn btn-primary">Read the casetudy</a></p>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
        <!-- jQuery -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <!-- jQuery Easing -->
        <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <!-- Bootstrap -->
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <!-- Waypoints -->
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <!-- Main JS -->
        <script src="{% static 'js/main.js' %}"></script>
        <!-- Echarts JS-->
        <script src="{% static 'js/echarts.common.min.js' %}"></script>

        <script type="text/javascript">
            // 基于准备好的dom，初始化echarts实例,农业数据柱状图
            var myChart2 = echarts.init(document.getElementById('chart_2'));

            var option2 = {
                title : {
                    text: '三会土地使用情况统计图',
                    subtext: '',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c}亩"
                },
                legend: {
                    orient: 'horizontal',
                    bottom: '0',
                    data: ['耕地','林地','建设用地','水面','道路占地','溪沟荒滩','公益设施']
                },
                series : [
                    {
                        name: '亩产',
                        type: 'pie',
                        radius : '55%',
                        center: ['50%', '50%'],
                        data:[
                            {value:2346, name:'耕地'},
                            {value:5246, name:'林地'},
                            {value:552, name:'建设用地'},
                            {value:273, name:'水面'},
                            {value:110, name:'道路占地'},
                            {value:125, name:'溪沟荒滩'},
                            {value:48, name:'公益设施'}
                        ],
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart2.setOption(option2);
        </script>
</body>
</html>
